<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание курса</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar">
        <a class="navbar_brand" href="/Learn-platform">
            <img src="../pictures/icon.svg" alt="Website Icon">
        </a>
        <div class="navbar_items">
            <a href="/resources">Ресурсы</a>
            <a href="/ready-courses">Все курсы</a>
            <a href="/create-course">Свой курс</a>
        </div>
    </nav>

    <div>
        <h1>Create plan</h1>
        <p>Create your own plan</p>
    </div>
</body>
</html>
