<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar">
        <a class="navbar_brand" href="/Learn-platform">
            <img src="/pictures/icon.svg" alt="Website Icon">
        </a>
        <div class="navbar_items">
            <a href="/resources">Ресурсы</a>
            <a href="/ready-courses">Все курсы</a>
            <a href="/create-course">Свой курс</a>
        </div>
    </nav>

    <!-- Контейнер для информации о программной системе -->
    <div class="system_info">
        <h1>Информационно-образовательная программная система</h1>
        <p>Наша информационно-образовательная программная система (ИОПС) представляет собой мощный инструмент для обучения и развития. Мы предлагаем обширный набор ресурсов, специально разработанных для обучения различным предметам и навыкам, а также персонализированные подходы к обучению на основе искусственного интеллекта.</p>
        
        <h2>Что предлагаем мы:</h2>
        <ul>
            <li>Доступ к богатой библиотеке учебных материалов, включая тексты, видеоуроки и интерактивные задания.</li>
            <li>Готовые программы обучения по различным направлениям, разработанные экспертами в соответствии с актуальными стандартами образования.</li>
            <li>Уникальный опыт создания персонализированных программ обучения. Наши алгоритмы машинного обучения анализируют потребности и предпочтения каждого пользователя, чтобы создать оптимальный учебный план.</li>
            <li>Форумы и сообщества, где студенты могут общаться, делиться опытом и задавать вопросы друг другу и преподавателям.</li>
            <li>Постоянное обновление контента и функционала системы для обеспечения актуальности и эффективности обучения.</li>
        </ul>
        
        <p>Безграничные возможности обучения ждут вас в нашей ИОПС. Присоединяйтесь сегодня и начните свой путь к знаниям и успеху!</p>
    </div>
</body>
</html>
