<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Готовые курсы</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar">
    <a class="navbar_brand" href="/Learn-platform">
        <img src="../pictures/icon.svg" alt="Website Icon">
    </a>
    <div class="navbar_items">
        <a href="/resources">Ресурсы</a>
        <a href="/ready-courses">Все курсы</a>
        <a href="/create-course">Свой курс</a>
    </div>
</nav>

<div class="ready_course_container_wrap">
    <h1>All maps</h1>
    <p>Check all Roadmaps</p>
    <div class="ready_course_container">
        <a href="/resources/topic">Container 1</a>
    </div>
    <div class="ready_course_container">
        <a href="/resources/topic">Container 2</a>
    </div>
    <div class="ready_course_container">
        <a href="resources/topic">Container 3</a>
    </div>
    <!-- Добавьте столько контейнеров, сколько вам нужно -->
</div>
</body>
</html>
