<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav class="navbar">
        <a class="navbar_brand" href="/Learn-platform">
            <img src="../pictures/icon.svg" alt="Website Icon">
        </a>
        <div class="navbar_items">
            <a href="/resources">Ресурсы</a>
            <a href="/ready-courses">Все курсы</a>
            <a href="/create-course">Свой курс</a>
        </div>
    </nav>

    <div class="topic_section">
        <h1>материалы по теме: Тема</h1>
    </div>

    <div class="topic_section">
        <h2>Гайды</h2>
        <div class="topic_section_border_wrap">
            <ul>
                <li><a href="#">Гайд по основам SQL</a></li>
                <li><a href="#">Гайд по нормализации баз данных</a></li>
                <!-- Добавьте другие гайды по теме -->
            </ul>
        </div>
    </div>

    <div class="topic_section">
        <h2>Онлайн материалы</h2>
        <div class="topic_section_border_wrap">
            <ul>
                <li><a href="#">Статья: Введение в реляционные базы данных</a></li>
                <li><a href="#">Курс: Основы SQL на платформе Coursera</a></li>
            </ul>
        </div>
    </div>

    <div class="topic_section">
        <h2>Литература</h2>
        <div class="topic_section_border_wrap">
            <ul>
                <li><a href="#">"SQL для чайников" - Джон Нейген</a></li>
                <li><a href="#">"Базы данных: концепции и применение" - Дэвид Крофт</a></li>
            </ul>
        </div>
    </div>

</body>

</html>