/* 
######################################################################################
    ███╗   ███╗ █████╗ ██╗███╗   ██╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
    ████╗ ████║██╔══██╗██║████╗  ██║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
    ██╔████╔██║███████║██║██╔██╗ ██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
    ██║╚██╔╝██║██╔══██║██║██║╚██╗██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
    ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║    ███████║   ██║      ██║   ███████╗███████╗
######################################################################################
*/
body {
    padding: 0;
    margin: 0;
    background-color: #f3f4f6;
    font-size: 16pt;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    height: 90px;
    padding: 0 20px; 
}
.navbar_brand img {
    height: 60px; 
}
.navbar_items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_items a {
    color: #8a8a8a;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar_items a:hover {
    color: #ffffff;
    background-color: #1f2942; 
}

/*
######################################################################################
                        ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
                        ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
                        ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
                        ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
                        ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
                        ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝
######################################################################################                                     
*/
.system_info {
    margin: 25px;
}

/*
######################################################################################
        ██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
        ██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
        ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
        ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
        ██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
        ╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
######################################################################################                                                                          
*/
.resources_container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.resources_topic_container {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: .375rem;
    width: 200px;
}
.resources_topic_container:hover {
    background-color: #f0f0f0;
}
.resources_topic_container img {
    max-width: 20%;
    height: auto;
}

/*
######################################################################################                                                                          
                            ████████╗ ██████╗ ██████╗ ██╗ ██████╗
                            ╚══██╔══╝██╔═══██╗██╔══██╗██║██╔════╝
                               ██║   ██║   ██║██████╔╝██║██║     
                               ██║   ██║   ██║██╔═══╝ ██║██║     
                               ██║   ╚██████╔╝██║     ██║╚██████╗
                               ╚═╝    ╚═════╝ ╚═╝     ╚═╝ ╚═════╝
######################################################################################                                                                          
*/
.topic_section {
    margin: 25px;
}
.topic_section h2 {
    text-align: center;
}
.topic_section_border_wrap {
    border: 1px solid black;
    border-radius: 15px;
}

/* 
######################################################################################                                                                          
                 ██████╗██████╗ ███████╗ █████╗ ████████╗███████╗
                ██╔════╝██╔══██╗██╔════╝██╔══██╗╚══██╔══╝██╔════╝
                ██║     ██████╔╝█████╗  ███████║   ██║   █████╗  
                ██║     ██╔══██╗██╔══╝  ██╔══██║   ██║   ██╔══╝  
                ╚██████╗██║  ██║███████╗██║  ██║   ██║   ███████╗
                ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
######################################################################################                                                                          
*/


/*
######################################################################################                                                                          
                    ██████╗ ███████╗ █████╗ ██████╗ ██╗   ██╗
                    ██╔══██╗██╔════╝██╔══██╗██╔══██╗╚██╗ ██╔╝
                    ██████╔╝█████╗  ███████║██║  ██║ ╚████╔╝ 
                    ██╔══██╗██╔══╝  ██╔══██║██║  ██║  ╚██╔╝  
                    ██║  ██║███████╗██║  ██║██████╔╝   ██║   
                    ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝    ╚═╝   
######################################################################################                                                                          
*/
.ready_course_container_wrap {
    margin: 15px;
}
.ready_course_container {
    font-size: 14px;
    width: 100px;
    height: 2px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: left;
    align-content: center;
    padding: 20px;
    border-radius: .375rem;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    cursor: pointer;
}
.ready_course_container a {
    text-decoration: none;
    color: black;
}
.ready_course_container:hover {
    border-color: #a5a5a5;
    background-color: #f0f0f0;
}